@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/GraphikLCWeb-RegularItalic.eot');
    src: url('../fonts/GraphikLCWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCWeb-RegularItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-RegularItalic.woff') format('woff'),
        url('../fonts/GraphikLCWeb-RegularItalic.ttf') format('truetype'),
        url('../fonts/GraphikLCWeb-RegularItalic.svg#GraphikLCWeb-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/GraphikLCWeb-Medium.eot');
    src: url('../fonts/GraphikLCWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCWeb-Medium.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Medium.woff') format('woff'),
        url('../fonts/GraphikLCWeb-Medium.ttf') format('truetype'),
        url('../fonts/GraphikLCWeb-Medium.svg#GraphikLCWeb-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/GraphikLCWeb-Regular.eot');
    src: url('../fonts/GraphikLCWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCWeb-Regular.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Regular.woff') format('woff'),
        url('../fonts/GraphikLCWeb-Regular.ttf') format('truetype'),
        url('../fonts/GraphikLCWeb-Regular.svg#GraphikLCWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/GraphikLCWeb-Black.eot');
    src: url('../fonts/GraphikLCWeb-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCWeb-Black.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Black.woff') format('woff'),
        url('../fonts/GraphikLCWeb-Black.ttf') format('truetype'),
        url('../fonts/GraphikLCWeb-Black.svg#GraphikLCWeb-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/GraphikLCWeb-Bold.eot');
    src: url('../fonts/GraphikLCWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCWeb-Bold.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Bold.woff') format('woff'),
        url('../fonts/GraphikLCWeb-Bold.ttf') format('truetype'),
        url('../fonts/GraphikLCWeb-Bold.svg#GraphikLCWeb-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

